aiohttp
aiosignal
alabaster
anaconda-client
anaconda-navigator==2.4.2
anaconda-project
annotated-types==0.5.0
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
bitarray
bkcharts==0.2
black==19.10b0
bleach
blis
bokeh
boltons
boto3
botocore
Bottleneck
brotlipy==0.7.0
cachetools
catalogue
certifi==2021.10.8
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
cmake==3.26.4
colorama
colorcet
conda==23.3.1
conda-build==3.24.0
conda-content-trust
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda-verify==3.4.2
constantly==15.1.0
cookiecutter
cryptography
cssselect==1.1.0
cycler
cymem
Cython
cytoolz==0.11.0
daal4py==2021.5.0
dask
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
distributed
dnspython==2.4.0
docutils
email-validator==2.0.0.post2
entrypoints
et-xmlfile==1.1.0
executing
fastai
fastapi==0.100.0
fastcore
fastdownload
fastjsonschema
fastprogress
filelock
flake8
Flask
fonttools==4.25.0
frozenlist
fsspec
future
gensim
glob2
gmpy2
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpcio
h11==0.14.0
h5py
HeapDict
holoviews
httpcore==0.17.3
httptools==0.6.0
httpx==0.24.1
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jdcal
jedi
jeepney
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring
kiwisolver
langcodes
lazy-object-proxy
libarchive-c
lit==16.0.6
llvmlite==0.38.0
locket
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe==0.6.1
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mock
mpmath==1.2.1
msgpack
multidict
multipledispatch
munkres==1.1.4
murmurhash
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
olefile
openpyxl
orjson==3.9.2
packaging
pandas==1.4.2
pandocfilters
panel
param
parsel
parso
partd
pathspec==0.7.0
pathy
patsy==0.5.2
pep8==1.7.1
pexpect
pickleshare
Pillow==9.0.1
pkginfo
plotly
pluggy
poyo
preshed
prometheus-client
prompt-toolkit
Protego
protobuf==3.19.1
psutil
ptyprocess
pure-eval
py
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat==0.6.3
pycparser
pyct
pycurl==7.44.1
pydantic==2.0.3
pydantic-extra-types==2.0.0
pydantic-settings==2.0.2
pydantic_core==2.3.0
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyHamcrest
PyJWT
pylint
pyls-spyder==0.4.0
pyodbc
pyOpenSSL
pyparsing
pyrsistent
PySocks
pytest==7.1.1
python-dateutil
python-dotenv==1.0.0
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-multipart==0.0.6
python-slugify
python-snappy
pytz==2021.3
pyviz-comms
PyWavelets
pyxdg
PyYAML==6.0
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
requests
requests-file
rope
rsa
Rtree
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-image
scikit-learn
scikit-learn-intelex==2021.20220215.212715
scipy
Scrapy
seaborn
SecretStorage
Send2Trash
service-identity
shellingham
sip==4.19.13
six
smart-open
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
srsly
stack-data
starlette==0.27.0
statsmodels
sympy
tables
tabulate==0.8.9
TBB==0.2
tblib
tenacity
terminado
testpath
text-unidecode
textdistance
thinc
threadpoolctl
three-merge
tifffile
tinycss
tldextract
toml
tomli
toolz
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado
tqdm
traitlets
triton==2.0.0
Twisted
typed-ast
typer
typing_extensions==4.7.1
ujson==5.8.0
Unidecode
urllib3
uvicorn==0.23.1
uvloop==0.17.0
w3lib
wasabi
watchdog
watchfiles==0.19.0
wcwidth
webencodings==0.5.1
websocket-client
websockets==11.0.3
Werkzeug
widgetsnbextension
wrapt
wurlitzer
xarray
xlrd
XlsxWriter
yapf
yarl
zict==2.0.0
zipp
zope.interface